.cartBody {
  height: auto;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  margin-left: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.cartBox {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cartTopBox {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  margin-top: -10px;
  background-color: rgb(213, 215, 216);
}
.cartTopImg {
  flex: 1;
}
.cartTopText {
  flex: 3;
}
.cartTopModel {
  flex: 1;
}
.cartTopQuantity {
  flex: 1;
}
.cartTopPrice {
  flex: 1;
}
.cartTopTotal {
  flex: 1;
}

.cartTopBox2 {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  margin-top: -0px;
}

.cartTopImg2 {
  flex: 1;
}
.cartTopText2 {
  flex: 3;
}
.cartTopModel2 {
  flex: 1;
}
.cartTopQuantity2 {
  flex: 1;
}
.cartTopPrice2 {
  flex: 1;
}
.cartTopTotal2 {
  flex: 1;
  display: flex;
}
.cartTopDeleteButton {
  border: none;
  margin-top: 10px;
  margin-left: 10px;
}

.cartTopLineDiv {
  height: 0.5px;
  width: 100%;
  background-color: aqua;
}

.cartTopMidPriceDiv {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartTopMidPriceDox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartTopMidPriceDox2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.cartTopMidPriceP {
  color: #fa5252;
  margin-left: 20px;
  font-size: 19px;
}
.cartTopBottomDiv{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    margin-top: 40px;
    margin-bottom: 80px;
}
.cartTopBottomDiv2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cartTopBottomInput{
    background-color: #ffffff;
    width: 50%;
}
.cartTopBottomButton{
    width: 40%;
    margin-left: 5%;
}
@media (max-width: 1000px) {
  .cartTopModel {
    display: none;
  }
  .cartTopPrice {
    display: none;
  }

  .cartTopModel2 {
    display: none;
  }
  .cartTopPrice2 {
    display: none;
  }
  .cartTopBottomDiv{
    height: 120px;
    width: 100%;
  }
  .cartTopBottomDiv2{
    flex-direction: column;
  }
  .cartTopBottomInput{
    background-color: #ffffff;
    width: 70%;
}
.cartTopBottomButton{
    width: auto;
    margin-left: 5%;
    margin-top: 15px;
}
}

/* Box 3 - Below 600px */
@media (max-width: 600px) {
  .cartTopText {
    flex: 1;
  }
  .cartTopText2 {
    flex: 1;
  }
}
