.preOrderBody{
    height: auto;
    width: 100%;
}
.preOrderBox{
    height: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}
.preOrderBoxText{
    font-size: 22px;
    opacity: .7;
}
@media (max-width: 1000px) {
    .preOrderBox{
        width: 80%;
        margin-left: 10%;
    
    }
    
  }
  @media (max-width: 600px) {
    .preOrderBox{
        width: 96%;
        margin-left: 2%;
    
    }
  }
  