.categoryBody{
    height: 200px;
    width: 150px;
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    margin: 20px;
}
.categoryHover:hover{
    color: rgb(0, 255, 247);
    
}
.categoryImg{
    height: 65px;
}
.categoryText1{
    font-size: 20px;
    margin-top: 5px;
}
.categoryText2{
    font-size: 20px;
    margin-top: -25px;
}


@media only screen and (max-width: 1000px) {
    .categoryBody{
        height: 180px;
        width: 130px;
    }
    .categoryImg{
        height: 55px;
    }
    .categoryText1{
        font-size: 18px;
        margin-top: 0px;
    }
    .categoryText2{
        font-size: 18px;
        margin-top: -20px;
    }
}
@media only screen and (max-width: 600px) {
    .categoryBody{
        height: 150px;
        width: 100px;
        margin: 10px;
    }
    .categoryImg{
        height: 45px;
    }
    .categoryText1{
        font-size: 16px;
        margin-top: 0px;
    }
    .categoryText2{
        font-size: 16px;
        margin-top: -15px;
        margin-left: -10px;
    }
}