.ProductsCardBody {
  height: auto;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  margin-top: 20px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
}
.ProductsCardBody:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.ProductsCardImage{

}
.ProductsCardTextDiv{
    height: 50px;
    width: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProductsCardText{
    font-size: 18px;
    color: #000;
}
.ProductsCardBox{
    height: 90px;
    width: 210px;
    display: flex;
    flex-direction: column;
}
.ProductsCardPrice{
    color: #f50505;
    font-size: 16px;
    margin-top: 10px;
}
.ProductsCardPriceIcon{
    margin-top: 15px;
    margin-left: 20px;

}
.ProductsCardPrice2{
    color: #000000;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: line-through;
    opacity: .5;
}
.ProductsCardPriceIcon2{
    margin-top: 14px;
    margin-left: 20px;
    opacity: .5;

}
.ProductsCardPrice3{
    color: #000000;
    font-size: 13px;
    margin-top: 10px;
}