.footer {
  width: 100%;
  background-color: #171717;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0.5px;
}

.footer p {
  margin: 0;
}
.container {
  width: 100%;
}

.footerFlex{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #100f0f;
}
.footerBox{

}
.footerBoxText{
  color: #0cebef;
}
.footerBoxButton{
  height: 50px;
  width: 250px;
  border-radius: 30px;
  border: 1.5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footerBoxButton:hover{
  border: 1.5px solid aqua;
}
.footerNumberText{
  font-size: 28px;
  color: #ffffff;
  margin-left: 10px;
}
.footerBox2Div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footerBox2DivButton{
  color: #ffffff;
}
.footerBox2DivButtonText{
  margin-top: -0px;
}
.footerBox2DivButtonText:hover{
  color: aqua;
}

@media  only screen and (max-width: 1000px) {
  .footerFlex{
   display: flex;
   flex-direction:column ;
   justify-content: center;
   align-items: center;
  }
}
@media only screen and (max-width: 600px) {
    
}