.footer {
  width: 100%;
  background-color: #171717;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 0.5px;
}

.footer p {
  margin: 0;
}
.container {
  width: 100%;
}



.footerBox {
  flex: 1;
}
.footerBoxText {
  color: #0cebef;
}
.footerBoxButton {
  height: 50px;
  width: 250px;
  border-radius: 30px;
  border: 1.5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footerBoxButton:hover {
  border: 1.5px solid aqua;
}
.footerNumberText {
  font-size: 28px;
  color: #ffffff;
  margin-left: 10px;
}
.footerBox2Div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footerBox2DivButton {
  color: #ffffff;
}
.footerBox2DivButtonText {
  margin-top: -0px;
}
.footerBox2DivButtonText:hover {
  color: aqua;
}
.box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #100f0f;
}
.box2 {
  display: none;
}
.box3 {
  display: none;
}

.feedbackBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedbackOpenBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 1000px) {
  .footerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100f0f;
  }
  .box1 {
    display: none;
  }
  .box3 {
    display: none;
  }
  .feedbackOpenBox {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #100f0f;
    flex-direction: column;
  }
  .box2 {
    display: none;
  }
  .box1 {
    display: none;
  }
  .feedbackOpenBox {
    width: 100%;
  }
}
