.titleBody {
  height: 45px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;

  justify-content: center;
  align-items: center;
}
.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin-top: -5px;
}
.titleText {
  font-size: 16px;
  margin-left: 10px;
}
.titleLine {
  height: 18px;
  width: 1px;
  background-color: rgb(157, 155, 155);
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
}
