.phonesTabletsTopBox {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 2.5%;
}
.phonesTabletsTopBox-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: aqua;
}
.phonesTabletsTopBox-Button:hover {
  background-color: aqua;
  border: none;
}
.phonesTabletsTopBox-ButtonText {
  font-size: 20px;
}
.phonesTabletsTopBox-ButtonText:hover {
  color: #ffffff;
}
.phonesTabletsLeftBox {
  width: 30%;
}
.phonesTabletsRightBox {
  width: 70%;
  background-color: aqua;
}
@media only screen and (max-width: 1000px) {
  .phonesTabletsLeftBox {
    display: none;
  }
  .phonesTabletsRightBox {
    width: 100%;
  }
}
