.phonesTabletsTopBox {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 2.5%;
}
.phonesTabletsTopBox-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: aqua;
}
.phonesTabletsTopBox-Button:hover {
  background-color: rgb(194, 253, 253);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.phonesTabletsTopBox-ButtonText {
  font-size: 20px;
}
.phonesTabletsTopBox-ButtonText:hover {
  color: #ff0000;
}
.phonesTabletsLeftBox {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.phonesTabletsRight-DrawerBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.phonesTabletsLeft-FilterBox {
  height: auto;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  margin-bottom: 30px;
}
.phonesTabletsLeft-FilterBox-Text {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 10px;
}
.phonesTabletsLeft-FilterBox-Line {
  width: 100%;
  height: 1px;
  background-color: aqua;
  margin-top: -10px;
}
.phonesTabletsLeft-FilterBox-Input {
  width: 90%;
  margin: 5%;
}
.phonesTabletsLeft-FilterBox-ButtonDiv {
  display: flex;
  justify-content: flex-end;
  margin: 5%;
  margin-bottom: 20px;
}
.phonesTabletsLeft-FilterBox-Select {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.phonesTabletsRightBox {
  width: 70%;
}
.phonesTabletsRight-Header {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.phonesTabletsRight-HeaderText {
  margin-left: 20px;
}
.phonesTabletsRight-HeaderFilter {
  display: none;
}
.phonesTabletsRight-HeaderSortBy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
@media only screen and (max-width: 1000px) {
  .phonesTabletsLeftBox {
    display: none;
  }
  .phonesTabletsRightBox {
    width: 100%;
  }
  .phonesTabletsRight-HeaderText {
    display: none;
  }
  .phonesTabletsRight-HeaderFilter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .phonesTabletsLeft-FilterBox-Text {
    margin-left: 20px;
  }
}
